<div class="row" style="clear:none; width: 100%;">
   <b><center><h2 style="color: #424242;"> {{ include.cat }}</h2></center></b>
</div>
<div class="row" style="clear:none; width: 100%;">
    {{ include.rtitle }} - {{ include.rinstitution }}
</div>
<div class="row" style="clear:none; width: 100%;">
    <b>{{ include.rdescr }}</b>
</div>
<div class="row" style="font-family: monospace;">
    {{ include.rdata }}
</div>
<div class="row" style="font-family: monospace;">
    {{ include.rgpa }}
</div>
