<div style="clear: none;">
  <div style="margin-right: auto; margin-left: auto; width: 35%">
    <img src="{{ include.image_path }}" alt="" max-height="120px" max-width="120px" height="auto" width="auto">
  </div>
</div>

<br>

<div style="margin-left: auto; margin-right: auto; width: 95%; text-align: center;">
  {{ include.sub_heading | markdownify }}
</div>

<div style="margin-left: auto; margin-right: auto; width: 95%; text-align: center;">
  {{ include.sub_description | markdownify }}
</div>

