<div style="margin-left: auto; margin-right: auto; width: 95%; text-align: left;">
  <a href="{{ include.my_item }}">{{ include.my_title | markdownify  | remove: '<p>' | remove: '</p>'}}</a>
  <br> {{ include.my_year }}, {{ include.my_venue | markdownify  | remove: '<p>' | remove: '</p>' }} {% if include.my_pdf != "" %} <a href="{{ include.my_pdf }}">PDF</a> {% endif %}
</div>
<div style="margin-left: auto; margin-right: auto; width: 95%; text-align: left;">
  {{ include.my_authors | markdownify | remove: '<p>' | remove: '</p>' }}
</div>
<div style="margin-left: auto; margin-right: auto; width: 95%; text-align: left;">
  {{ include.my_award | markdownify | remove: '<p>' | remove: '</p>' }}
</div>
<br>
