<div class="col-md-6" style="float: left; margin-right 1em; width: 100%">
  <b><center><h2 style="color: #424242;"> {{ include.cat }}</h2></center></b>
</div>
<p>
<div  style="margin-right 1em; width: 100%">
  {{ include.rsubcat1 }}
</div>
<div class="col-md-6" style="float: left; margin-right 1em; width: 100%; font-family: monospace">
   {{ include.rlist1  | markdownify}} 
</div>
<br><br>
<div  style="margin-right 1em; width: 100%">
  {{ include.rsubcat2 }} 
</div>
<div class="col-md-6" style="float: left; margin-right 1em; width: 100%; font-family: monospace">
   {{ include.rlist2  | markdownify}} 
</div>
<br><br>
<div  style="margin-right 1em; width: 100%">
  {{ include.rsubcat3 }} 
</div>
<div class="col-md-6" style="float: left; margin-right 1em; width: 100%; font-family: monospace">
   {{ include.rlist3  | markdownify}} 
</div>
<br><br>
<div  style="margin-right 1em; width: 100%">
  {{ include.rsubcat4 }} 
</div>
<div class="col-md-6" style="float: left; margin-right 1em; width: 100%; font-family: monospace">
   {{ include.rlist4 | markdownify}} 
</div>
