<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <b><h2 style="color: #424242;"> {{ include.cat }}</h2></b>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rprog1 }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr1}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr2}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr3}}    
  </div>
</div>
<br>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rprog2 }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr4}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr5}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr6}}    
  </div>
</div>
<br>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rprog3 }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr7}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr8}}    
  </div>
</div>
<br>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rprog4 }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr9}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr10}}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    {{ include.rprogdescr11}}    
  </div>
</div>
