<div class="row" style="float: left; margin-right 1em; width: 100%">
  <b><center><h2 style="color: #424242;"> {{ include.cat }}</h2></center></b>
</div>
<div style="margin-left 3em;">
  <li><h4> {{ include.rprog1 }} </h4></li>
</div>
<div style="margin-left 3em;">
  {{ include.rprogdescr1}}    
</div>
<p>
<div style="margin-left 3em;">
  <li><h4> {{ include.rprog2 }} </h4></li>
</div>
<div style="margin-left 3em;">
  {{ include.rprogdescr2}}    
</div>
<p>
<div style="margin-left 3em;">
  <li><h4> {{ include.rprog3 }} </h4></li>
</div>
<div style="margin-left 3em;">
  {{ include.rprogdescr3}}    
</div>
<p>
<div style="margin-left 3em;">
  <li><h4> {{ include.rprog4 }} </h4></li>
</div>
<div style="margin-left 3em;">
  {{ include.rprogdescr4}}    
</div>
