<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <b><h2 style="color: #424242;"> {{ include.cat }}</h2></b>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rtype }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    Courses at Università degli Studi di Bergamo
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    <li> {{ include.rcourse1 }} </li> 
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>    
  </div>
  <div style="margin-left 3em; font-family: monospace">
    Years: {{  include.ryear1 }}
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    Topics: {{ include.rtopics1 }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    <li> {{ include.rcourse2 }} </li> 
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>    
  </div>
  <div style="margin-left 3em; font-family: monospace">
    Years: {{  include.ryear2 }}
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    Topics: {{ include.rtopics2 }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    <li> {{ include.rcourse3 }} </li> 
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>    
  </div>
  <div style="margin-left 3em; font-family: monospace">
    Years: {{  include.ryear3 }}
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    Topics: {{ include.rtopics3 }}    
  </div>
</div>
