<div class="row" style="float: left; margin-right 1em; width: 100%">
  <b><center><h2 style="color: #424242;"> {{ include.cat }}</h2></center></b>
</div>
<div style="margin-left 3em;">
  <h4>{{ include.rtype }}</h4>
</div>  
<div style="margin-left 3em;">
  Courses at Università degli Studi di Bergamo
</div>
<p>
<div class="row" style="margin-left 3em;">
  <b> {{ include.rcourse1 }} </b> 
</div>
<div style="margin-left 3em; font-family: monospace">
  Years: {{  include.ryear1 }}
</div>
<div style="margin-left 3em;">
  Topics: {{ include.rtopics1 }}    
</div>
<p>
<div style="margin-left 3em;">
  <b> {{ include.rcourse2 }} </b> 
</div>
<div style="margin-left 3em; font-family: monospace">
  Years: {{  include.ryear2 }}
</div>
<div style="margin-left 3em;">
  Topics: {{ include.rtopics2 }}    
</div>
<p>
<div style="margin-left 3em;">
  <b> {{ include.rcourse3 }} </b> 
</div>
<div style="margin-left 3em; font-family: monospace">
  Years: {{  include.ryear3 }}
</div>
<div style="margin-left 3em;">
  Topics: {{ include.rtopics3 }}    
</div>
