<div class="row" style="float: left; margin-right 1em; width: 100%">
  <b><center><h2 style="color: #424242;"> {{ include.cat }}</h2></center></b>
</div>

<div style="margin-left 3em;">
  <h4>{{ include.rtype }}</h4>
</div>

<div style="margin-left 3em;">
  <b> Partner: </b>{{ include.rpartner }}    
</div>
<div style="margin-left 3em; font-family: monospace">
  {{  include.rdata }}
</div>
<div style="margin-left 3em;">
  <b> Description: </b> {{ include.rdescr1 }}    
</div>
<div style="margin-left 3em;">
  {{ include.rdescr2 }}
</div>
<p>
<div style="margin-left 3em;">
  <b> Partner: </b>{{ include.rpartner }}    
</div>
<div style="margin-left 3em; font-family: monospace">
  {{  include.rdata3 }}
</div>
<div style="margin-left 3em;">
  <b> Description: </b> {{ include.rdescr3 }}    
</div>
<div style="margin-left 3em;">
  {{ include.rdescr4 }}
</div>
