<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <b><h2 style="color: #424242;"> {{ include.cat }}</h2></b>
  </div>
  <div style="margin-left 3em;">
    <h2> {{ include.rtype }} </h2>
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    <b> Partner: </b>{{ include.rpartner }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>    
  </div>
  <div style="margin-left 3em; font-family: monospace">
    {{  include.rdata }}
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    <b> Description: </b> {{ include.rdescr1 }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    {{ include.rdescr2 }}
  </div>
</div>
<br>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>
  </div>
  <div style="margin-left 3em;">
    <b> Partner: </b>{{ include.rpartner }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>    
  </div>
  <div style="margin-left 3em; font-family: monospace">
    {{  include.rdata3 }}
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    <b> Description: </b> {{ include.rdescr3 }}    
  </div>
</div>
<div style="clear: none;">
  <div class="col-md-6" style="float: left; margin-right 1em; width: 30%">
    <h2> </h2>        
  </div>
  <div style="margin-left 3em;">
    {{ include.rdescr4 }}
  </div>
</div>
